.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-transform: uppercase;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover:not(.link-active) {
  background-color: #111;
}

.link-active {
  background-color: #4CAF50;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
}

.playtravel {
  font-family: inherit;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

.playtravel td, th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.playtravel th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  text-transform: uppercase;
}

.playtravel tr:nth-child(even){
  background-color: #f2f2f2;
}

.playtravel tr:hover {
  background-color: #ddd;
}

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

.container-form input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-form input[type=submit]:hover {
  background-color: #45a049;
}
